/***** MAIN CSS *****/

body {
	font-family: "Times New Roman", Times, serif;
	margin: auto;
	width: 98%;
	height: auto;
	max-width: 1050px;
}

main {
	background-color:aliceblue;
	padding: 25px 0px 25px 0px
}

.ui.header {
	width: auto;
	background: linear-gradient(180deg, #660000, #880000);
	border: 3px solid #7e0505;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	overflow: hidden;
}

.ui.footer {
	height: 40px;
	text-align: right;
	color: aliceblue;
	padding-right: 15px;
	background: linear-gradient(360deg, #660000, #880000);
	border: 3px solid #7e0505;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

/***** FORM CSS *****/

.ui.form {
	margin-top: 15px;
	margin-bottom: 15px;
}

.ui.form .ui.fieldset {
	text-align: center;
	font-weight: bold;
	font-size: x-large;
	margin: auto;
	width: 40%;
	padding: 10px;
	border-radius: 15px;
	background-color: white;
}

.ui.fieldset legend {
	text-align: center;
}

.ui.fieldset .ui.group .ui.label, .ui.field, .ui.hint{
	margin-bottom: 10px;
}

.ui.fieldset .ui.label {
	display: inline-block;
	
	width: 60px;
	text-align: right;
	font-weight: normal;
	font-size: large;
	margin-right: 10px;
	padding: 0px;
}

.ui.fieldset .ui.field {
	font-weight: normal;
}

.ui.fieldset .ui.hint {
	color: firebrick;
	font-weight: normal;
	font-size: medium;
}

.ui.fieldset .ui.small.button {
	width: 80px;
	font-size: .5em !important;
	display: inline-block;
}

/***** NAVIGATION CSS *****/

.ui.navigation {
	width: 100%;
	background-color:aliceblue;
}

.ui.navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.ui.navigation ul li {
	float: left;
}

.ui.navigation ul li a:link, a:visited {
	display: block;
	width:  120px;
	height: 40px;
	padding: 4px;
	font-weight: bold;
	color: aliceblue;
	background: linear-gradient(360deg, #660000, #880000);
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.ui.navigation ul li a:hover, a:active {
	background: linear-gradient(180deg, #660000, #880000);
}

/***** BODY CSS *****/

.ui.body h1, h2, h3, h4, h5, h6 {
	margin-left: 25px;
	margin-right: 25px;
}

.ui.body p {
	margin-left: 25px;
	margin-right: 25px;
}

/***** OTHER CSS *****/

.ui.hidden {
	display: none;
}